.Layout {
  display flex;
  flex-direction: column;
}
.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: grey;
}

.MainPage {
  border: solid;
  background-color: pink;
  flex-basis: 60%;
}

.Footer {
  background-color: blue;
}
