html, body {
  margin:0;
  padding:0;
}

.Layout {
  height: 800px;
  width: 100%;
  align-items: stretch;

  flex-direction: column;
}
.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #bebebe;
  height: 10%
}

.MainPage {
  display: flex;
  flex-direction:  row;
  justify-content: space-around;
  align-items: center;
  background-color: #d6ecf3;
  height: 80%;
}

.Footer {
  background-color: #bebebe;
  height: 10%;
}

.button {
 display: inline-block;
 padding: 10px 20px;
 text-align: center;
 text-decoration: none;
 color: black;
 background-color: #7aa8b7;
 border-radius: 6px;
 outline: none;
}
